# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.git-blame-ignore-revs
package-lock.json
.php-cs-fixer.cache
package-lock.json
.git-rewrite/
.php-cs-fixer.cache
node_modules
node_modules

# Standard ignores (auto)
node_modules/
vendor/
*.old
*.old1
*.bak
*.bakcup
*.backup.*
node_modules
